/**
 * Text colors.
 */
$color-body-text: 'aktiv-grotesk', sans-serif;

/**
 * Background colors.
 */
$color-body: 'aktiv-grotesk', sans-serif;

/**
 * Placeholders.
 */
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

/**
 * Others.
 */
$color-accent: #000000;
$color-border: #000000;

/**
 * Helpers.
 */
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

/**
 * Typography.
 */
$font-heading: 'aktiv-grotesk', sans-serif;
$font-body: 'aktiv-grotesk', sans-serif;
$font-body-weight: 300;
$font-body-style: normal;
$font-body-bold-weight: 500;

/**
 * Transitions.
 */
$transition-duration: 250ms;
$transition-timing: ease-in-out;

/**
 * Grid values.
 */
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

/**
 * Breakpoints.
 * - To be used with the media-query mixin.
 */
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);
